.keys {
    display: flex;
    justify-content: space-around;

}

.key {
    padding: 10px 15px 10px 15px;
    color: white;
    text-align: center;
    border: 4px solid black;
    border-radius: 20%;
    margin: 1rem;
    background: rgba(0,0,0,0.4);

}

body {
    background-image: url(img/hinh1.jpg);
    background-size: cover;
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
}

.sould {
    color: yellow;
    font-size:1.5rem ;

}
.playing{transform:scale(1.3); 
    border-color: red;
}